.checkout {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-right: 5px;
  background-color: white;
  max-width: 100%;
}

.checkout__right {
  margin-right: auto;
}
.name {
  margin-right: 10px;
  padding: 10px;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.Products {
  background-color: white;
}
