.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  background-color: #232f3e;
  top: 0%;
  z-index: 100;
  overflow: hidden;
}

.btn {
  background-color: #fa8f02;
  color: black;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 95%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__navbar {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.945);
}

.header__optionBasket {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.945);
}
.header__basketCount {
  margin-left: 10px;
  font-size: 10px;
}
.header__second {
  font-size: 13px;
  font-weight: 800;
}
.header__first {
  font-size: 10px;
}
