.Product__Basic {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: auto;
  max-width: auto;
  background-color: white;

  z-index: 1;
}
.Product__Basic > img {
  max-height: 250px;
  margin-top: 10px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}
.Product__Info {
  align-content: center;
}
.Price {
  margin-top: 10px;
  margin-left: 20%;
}
.half-rating {
  margin-left: 20%;
  position: relative;
  margin-top: 10px;
}
.Product__Info > button {
  background-color: #f0c14b;
  position: relative;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
